<div id="<%= dom_id product_varient %>">
  <p>
    <strong>Color:</strong>
    <%= product_varient.color %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product_varient.size %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= product_varient.product_id %>
  </p>

</div>
